# backend auth
BETTER_AUTH_SECRET=<secret>
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_DISABLE_LOGGER=false
CORS_ORIGIN="http://loclahost,http://localhost:5173"
DEVELOPMENT=true

# backend sso
YANDEX_CLIENT_ID=<id>
YANDEX_CLIENT_SECRET=<secret>

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=<user>
SMTP_PASS=<password>
SMTP_FROM=<email>

# s3
MINIO_ROOT_USER=<user>
MINIO_ROOT_PASSWORD=<password>

# Redis
REDIS_PASSWORD=<password>

# RabbitMQ
RABBITMQ_USER=<user>
RABBITMQ_PASSWORD=<password>
MINIO_MAIN_BUCKET="qwipfm-oqcim-bsr"

# postgres
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database>

# frontend
VITE_BETTER_AUTH_BASE_URL=http://localhost:5173/api/auth
VITE_API_BASE_URL=/api
VITE_MINIO_BASE_URL=http://localhost:9000