# backend auth
BETTER_AUTH_SECRET=<secret>
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_DISABLE_LOGGER=false
CORS_ORIGIN="http://loclahost,http://localhost:5173,http://192.168.1.186:5173,http://192.168.1.186" # эта строка такое ощущение что вообще ни на что не влияет
DEVELOPMENT=true

# backend sso
YANDEX_CLIENT_ID=<id>
YANDEX_CLIENT_SECRET=<secret>

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=<user>
SMTP_PASS=<password>
SMTP_FROM=<email>

# s3
MINIO_ROOT_USER=<user>
MINIO_ROOT_PASSWORD=<password>
MINIO_MAIN_BUCKET="qwipfm-oqcim-bsr"

# Redis
REDIS_PASSWORD=<password>

# RabbitMQ
RABBITMQ_USER=<user>
RABBITMQ_PASSWORD=<password>
RABBITMQ_DELAY_SECONDS=4.5 #лучше брать 2-3 секунды, но если в логан нет подключения - посмотреть в логах rabbitmq сколько он запускается, там пишется

# postgres
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database>