# backend auth
BETTER_AUTH_SECRET=<secret>

# s3
MINIO_ROOT_USER=<user>
MINIO_ROOT_PASSWORD=<password>
MINIO_MAIN_BUCKET="qwipfm-oqcim-bsr"

# RabbitMQ
RABBITMQ_USER=<user>
RABBITMQ_PASSWORD=<password>