aio-pika==9.6.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiormq==6.9.4
aiosignal==1.4.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
frozenlist==1.8.0
idna==3.11
minio==7.2.20
multidict==6.7.1
pamqp==3.3.0
propcache==0.4.1
pycparser==3.0
pycryptodome==3.23.0
typing-extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
